
.travel {
    width: 1050px;
    /* height:500px; */
    margin: 50px auto 30px;
    /* background: #b674cc; */
  }
  .travel-top {
    width: 100%;
    height: 60px;
    padding-top: 1px;
    box-sizing: border-box;
    /* background: #eaf; */
  }
  
  .travel-logo {
    width: 50px;
    height: 40px;
    float: left;
    /* background: #a31; */
  }
  .travel-logo > img {
    width: 100%;
    height: 100%;
  }
  
  .travel-title {
    width: 981px;
    height: 60px;
    float: left;
    margin-left: 12px;
    /* background: #a90; */
  }
  .travel-max {
    width: 981px;
    height: 40px;
    line-height: 40px;
    color: #484848;
    font-weight: 700;
    font-size: 28px;
    font-family: "PingFang SC", "Hiragino Sans GB", Arial, Verdana, Tahoma,
      "微软雅黑" !important;
    /* background: #9be; */
  }
  .travel-min {
    width: 981px;
    height: 20px;
    color: #767676;
    line-height: 20px;
    font-size: 14px;
    /* background: #e90; */
  }
  
  .travel-conter {
    width: 100%;
    /* height: 461px; */
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    /* background: rgb(161, 223, 136); */
  }
.aim {
    margin-top: 25px;
  }
  
  .aim-title {
    width: 158px;
    height: 47px;
    z-index: 9;
    position: relative;
    left: 0px;
    bottom: 47px;
    background: rgba(0, 0, 0, 0.8);
  }
  
  .aim-title > p {
    color: #fff;
    line-height: 47px;
    font-size: 18px;
    font-weight: 600;
    text-indent: 22px;
  }
  
  .aim-title > p > span {
    color: #fff;
    line-height: 47px;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
  }
  
.list {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: space-between;
  }
  .goods {
    width: 158px;
    height: 220px;
    list-style: none;
    /* margin: 25px 17px 0px 0px;
      display:block; */
  
  }
  
  .pic {
    width: 158px;
    height: 220px;
    display: block;
    border-radius: 8px;
    overflow: hidden;
    background: #f9f9f9;
  }
  .pic > img {
    width: 158px;
    height: 220px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .pic > img:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.3s;
  }
  .pop_win{
    position: relative;
    width: 180px;
    text-align: center;
    display: inline-block;
  }
  .pop_win>img{
    width:150px;height:160px;
  }
  .title{
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    color: #333;
  }
.desc{
    margin: 0 10px 10px;

    font-size: 12px;
    color: #b0b0b0;
  }
 .price{
    margin: 0 10px 10px;
    text-align: center;
    color: #ff6700;
  }
 .pop_con{
  position: relative;
  display: inline-block;
  width: 180px;
  text-align: center;
 }