.el-menu--horizontal .el-menu-item {
    float: right;
  }
  .el-menu-demo-underline > .el-menu-item:hover {
    border-bottom-color: #eef1f6 !important;
    color: #48ba9e;
  }
  .input-checkbox{
    width: 20px;
    height: 20px;
  }
.box{
  margin: 0 auto;
  width: 70%;
}
.h2{
  text-align: center;
}