.timeline_time_title{
  width: 160px;
}


.con_buy_head1{
width: 1100px;
}
.timeline_list{
  width: 1252px;
  margin-left: 60px;
  height: 60px;
  
}
.timeline_item {
  float: left;
  width: 280px;
  // line-height: 60px;
  text-align: center;
  font-size: 18px;
  display: flex;
  background-color: #e01222;
  color: #fff;

}
.timeline_time{
  line-height: 60px;
}
.con_buy_goodlist{
  width: 1190px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
}
.con_buy_goodlist ul li{
  list-style: none;
}
.con_buy_image{

  width: 230px;
  height: 270px;
  padding: 20px  30px 0 30px;
}
.con_buy_image >img:hover{
  transform:translateY(-10px);
  transition: all 0.3s;
}
.con_buy_image img{
  width: 200px;
  height: 200px;
}
.con_buy_mod_goods{
  width: 270px;
  height: 400px;
  float: left;
  margin: 5px;
  
  background: #FFF;
}
.con_buy_mod_price{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.con_buy_mod_bg{
  background: #F6F6F6;
  height: 830px;

}
.con_buy_title{
  width: 100%;
  height: 60px;
  background-color: #F0EE33;
  font-weight: 500;
  font-size: 40px;
  text-align: center;  
  color: #e01222;
}
.pageheader > ul > li {
  float: right;
}